---
layout: default
title: archive
permalink: /archive/
tags: archive
---
{% for post in site.posts %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
    {% unless forloop.first %}</ul>{% endunless %}
    <h1 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h1>
    <ul style="list-style-type: none;">
    {% assign date = currentdate %}
  {% endif %}
    <li><a href="{{ post.url }}" style="float: left;">{{ post.title }}</a><span style="float: right;">{{ post.date | date: "%Y-%m-%d" }}</span></li>
    <div style="clear: both;"></div>
  {% if forloop.last %}</ul>{% endif %}
{% endfor %}
