<!--{% for page in site.pages %}
    {% if page.tags contains "about" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
{% endfor %}-->
<!--{% for page in site.pages %}
    {% if page.tags contains "contact" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
{% endfor %}-->
<!--{% for page in site.pages %}
    {% if page.tags contains "search" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
{% endfor %}-->
<!-- {% for page in site.pages %}
    {% if page.tags contains "me" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
{% endfor %} -->
{% for page in site.pages %}
    {% if page.tags contains "tags" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
{% endfor %}
{% for page in site.pages %}
    {% if page.tags contains "archive" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
{% endfor %}

<script>
(function() {
    var cx = '005177684232785699785:g2ztd_3rgiy';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
})();
</script>
<div class="gcs-io">
    <gcse:searchbox-only></gcse:searchbox-only>
</div>
